@using System.Security.Claims
@using GameShop.Common
@using GameShop.Services.Data
@model GameShop.Web.ViewModels.Game.GameViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 align="center">Details</h1>

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        @Model.Title 
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.ImageURL" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3" style="color:red">Description</h3>
            <p style="color:darkmagenta">@Model.Description</p>
            <h3 class="my-3" style="color:aqua"> Details</h3>
            <ul>
                <li style="color:burlywood">RealaseDate: @Model.RealaseDate</li>
                <li style="color:burlywood">Price: @Model.Price</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->



    <a class="btn btn-danger float-right" asp-controller="Game" asp-action="Buy" asp-route-id="@Model.Id">Apply</a>
    

    <a class="btn btn-primary " asp-controller="home" asp-action="Index">Back to List</a>
</div>

