<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Cart Page</h3>
    <table class="table table-hover table-dark">
        <tr>

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Photo</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Sub Total</th>

            </tr>
        </thead>
        </tr>
        @foreach (var game in ViewBag.cart)
        {
            <tr>
                <th scope="row"></th>
                <td><img src="@game.ImageURL" width="80" height="80" class="mr-3" alt="Avatar"></td>
                <td>@game.Title</td>
                <td>@game.ShortDate</td>
                <td>@game.ShortDesc</td>
                <td>@game.Price $</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Game" asp-action="Details" asp-route-id="@game.Id" *@>Details</a>
                </td>

            </tr>
        }
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>
                @ViewBag.total
            </td>
        </tr>
    </table>
    <br>
    <a asp-controller="Home" asp-action="Index">Continue Shopping</a>

</body>
</html>

