@using Microsoft.CodeAnalysis.CSharp.Syntax
@using GameShop.Common
@model GameShop.Web.ViewModels.Game.AllGamesViewModel
<!--Section: Block Content-->
<!--Section: Block Content-->


@if (this.TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @this.TempData["ErrorMessage"]
    </div>
}
@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}

<section>
    @foreach (var game in Model.Games)
    {


        <div class="row mb-4">
            <div class="col-md-5 col-lg-3 col-xl-3">

                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                    <a href= "/Game/Details/@game.Id">
                        <img class="img-fluid w-100"
                             src="@game.ImageURL"
                             alt="Sample"
                             width="80" height="80">

                    </a>
                </div>

            </div>
            <div class="col-md-7 col-lg-9 col-xl-9">
                <div class="row">
                    <div class="col-lg-7 col-xl-7">

                        <h5>@game.Title</h5>
                        <p class="mb-2 text-muted text-uppercase small">YEAR: @game.RealaseDate.Year</p>

                        <hr>
                        <p class="mb-lg-0">
                            @game.Description
                        </p>

                    </div>
                    <div class="col-lg-5 col-xl-5">

                        <h6 class="mb-3"><span>$@game.Price</span></h6>
                        <div class="my-4">
                            <a asp-controller="Game" asp-action="Buy" asp-route-id="@game.Id"
                               type="button" class="btn btn-primary btn-md mr-1 mb-2">
                                <i class="fas fa-shopping-cart pr-2"></i>Add to cart

                            </a>

                            <a asp-controller="Game" asp-action="Details" asp-route-id="@game.Id" type="button" class="btn btn-light btn-md mr-1 mb-2">
                                <i class="fas fa-info-circle pr-2"></i>Details

                            </a>
                        </div>
                        @*<a asp-controller="Game" asp-action="Buy" asp-route-id="@game.Id"
                           type="button" class="btn btn-danger btn-md px-3 mb-lg-2 material-tooltip-main"
                           data-toggle="tooltip" data-placement="top" title="Add to wishlist">
                            <i class="far fa-heart"></i>

                        </a>*@

                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <a asp-are="Admin" asp-controller="Dashboard" asp-action="Delete" asp-route-id="@game.Id"
                               type="button" class="btn btn-danger btn-md px-3 mb-lg-2 material-tooltip-main"
                               data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="fas fa-trash-alt"></i>

                            </a>
                        }

                    </div>
                </div>
            </div>
        </div>
        <hr />
    }
</section>
<!--Section: Block Content-->


<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script>
    $(".btn-danger").click(function (e) {
        if (confirm("Are you sure?")) {
            alert('OK');
        }
        else {
            e.preventDefault();
        }
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('th').click(function () {
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc) { rows = rows.reverse() }
        for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
    })
    function comparer(index) {
        return function (a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }
    function getCellValue(row, index) { return $(row).children('td').eq(index).text() }
</script>